.CardContainer{
    margin-left: 20% !important;
    width: 75% !important;
    margin-top: 8% !important;
}

.header{
    background: linear-gradient(90deg, rgba(176, 206, 204, 1) 0%, rgba(7, 58, 187, 1) 100%) ;
}