.section{
    margin-left: 17%;
    margin-top: 8%;
}

.cascading-admin-card{
    border-radius: 5% !important;
    width: 85% !important;

}

strong{
    color: rgb(13, 69, 125) !important;
}

.admin-up:hover{
    cursor: pointer;
    transform: translate(-1rem);
    transition: all 0.3s ease;
}