.section{
    margin-left: 12%;
    margin-top: 10%;
   
}

.cascading-admin-card{
    width: 110%;
    border-radius: 5% !important;
}

strong{
    color: rgb(13, 69, 125) !important;
}

.admin-up:hover{
    cursor: pointer;
    transform: translate(-1rem);
    transition: all 0.3s ease;
}
