.add_email_container{
    margin-left: 19% !important;
    width: 70%;
    margin-top: 7%!important;
}

.size_img{
    width: 55% !important ;
}

.center-image {
    display: grid;
    place-items: center;
  }
  
strong{
    color: rgb(153, 158, 162);
}
