.illustration{
    width: 100%;
    height: 100%;
    background-color: rgba(4, 26, 80, 0.96);
}  

.logoo{
    width: 20%;
    margin-left: 38% !important;
}

body{
    background-color: rgb(225, 215, 212) !important;
}


