.illustration{
    width: 100%;
    min-height: 80vh;
    background-color: #6873C8
}  

.logoo{
    width: 20%;
    margin-left: 38% !important;
}

.container-auth{
    width: 90%;
    margin-left: 5%;
    margin-top: 3%;
    position: fixed;
    min-height: 90vh;
}
