.cascading-right {
    margin-right: -50px;
  }
  
  @media (max-width: 900px) {
    .cascading-right {
      margin-right: 0;
    }
  }

.changepassword-container{
    width: 70% !important;
    margin-left: 20% !important;
    margin-top: 7% !important;
}

.color{
    background-color: radial-gradient(circle at 50% 50%, rgba(106, 15, 255, 1) 0%, rgba(207, 175, 255, 1) 13%, rgba(116, 31, 255, 1) 26%, rgba(207, 175, 255, 1) 50%, rgba(106, 15, 255, 1) 74%, rgba(207, 175, 255, 1) 89%, rgba(106, 15, 255, 1) 100%) !important;
}