strong{
  color: #eff0f8;
  
}
.sidebar-icon{
  font-size: 0.97rem;
  margin: 19px 0;
  color: rgb(231, 233, 236);
}

span{
  margin-left: 4%;
  font-size: 15px;
  color: rgb(231, 233, 236);
}

.sidebar-container{
  width: 15% !important;
  position: absolute;
  z-index: 100;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19) !important;
}

.sidebar-header {
  position: relative;
  height: 30%; /* Adjust the height as needed */
  overflow: hidden; /* Hide any overflow from the background image */
}

h4 {
  text-align: center;
  margin: 0;
  color: rgb(231, 233, 236);

}

.sidebar-item{
  background-color: transparent !important;
}

.sidebar-item:hover{
  background-color: rgb(135, 137, 161) !important;
  cursor: pointer;
}

.logoStyle{
  width: 25%;
}

.sidebar-icon-secondary{
  font-size: 0.8rem;
  margin: 6% 10%;
  color: rgb(193, 200, 211);
}

.span-secondary{
  font-size: small;
  color: rgb(231, 233, 236);
}

.avatar{
  width: 45%;
}

.testimonial-card{
  background-color: transparent !important ;
}

.logo{
  padding-left: 0;
  margin-left: 5%;
}

