.whatsapp-card{
    min-height: 380px;
    min-width: 800px !important;
    /* background-size: 100% 100%; 
    background-image:url("../../../public/assets/addSMS.jpg");
    background-repeat: no-repeat;
    background-position: center; */
}