.list_container{
    margin-top: 4% !important;
    margin-left: 19% !important;
}

.view{
    position: absolute;
    margin-left: 13%;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn{
    margin-right: 5px;
}

.size_imgg{
    width: 33% !important;
    margin-right: 5%;
}