.avatar-list{
    width:10%;
    position: absolute;
    z-index: 100;
    top: 10%;
    right: 1%;
}

.navbar-size{
    position: absolute;
    background-color:transparent;
}
.flexible-navbar{
    height: 60px;
    position: relative;  
    margin-left: 15% !important;
    /* border-radius: 18px;  */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19) !important;
}

.nav-link{
    font-size: 14px !important;
}

