.avatar-list{
    width:10%;
    position: absolute;
    top: 10%;
    right: 1%;
}

.navbar-size{
    position: absolute;
    background-color:transparent;
}
.navbar-container {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    width: 100%; 
    position: fixed;
    top: 0;
    /* z-index: 1000;  */
    background-color: #fff;  
}

.flexible-navbar {
    height: 60px;
    margin-left: 6.6%; 
    width: calc(100% - 6.6%); 
}

.nav-link{
    font-size: 14px !important;
}

.nav-content ul {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    list-style: none;
}

.nav-content li {
    margin: 0 1.5rem;
}
.nav-content li a{
    color: #535160;
}

.nav-content li a:hover{
    color: #110944;
}


.menu-items{
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    color: #181348;
    position: relative;
    cursor: pointer;
}


.menu-items::before{
    content: "";
    width: 2rem;
    height: 0.2rem;
    background: linear-gradient(90deg,#93d3fe 0% , #3e5ff1 100%);
    border-radius: 0.5rem;
    position: absolute;
    bottom: -0.6rem;
    opacity: 0;
    transform: translate(-1.5rem);
    transition: all 0.3s ease;
}

.menu-items:hover::before{
    width: 100%;
    opacity: 1;
    transform: translateX(0);
}

.logo-navbar{
    padding-left: 0;
    width:18%;
  }