.code_container{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.otp-input{
    width: 60px;
    margin-right: 6px;
}

.title-code{
    margin-left: 17%;
    color: rgb(111, 111, 192);
}