 body{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #f4f8fa !important;
}
.App{
  width: 1480px;
}

a{
  color: inherit;
}

.list-group-flush{
  color: #495057;
}

.active{
  background-color: #e9ecef !;
}

main {
  background-color: #EDEDEE;
}

.navbar-brand{
  margin-left: 15px;
  color: #2196f3 !important;
}

.sidebar-fixed {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 230px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  z-index: 1050;
  background-color: #6873C8;
}



#content{
  margin-left: 270px;
}    


.sidebar-fixed .logo-wrapper img{
  width: 100%;
  margin-top: 40%;
}

.list-group-item {
  display: block !important;
  transition: background-color 0.3s;
}

.list-group-item:hover {
  color: #49505B;
  text-decoration: none;
  background-color: #f8f9fa
}

.list-group-item:hover {
  color: #49505B;
  text-decoration: none;
  background-color: #f8f9fa
}


 /* .list-group .active {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  background-color: #8dbade ;
}  */

.card-title{
  font-size: 1.5rem;
  font-weight: 600;
}

.card-subtitle{
  font-size: 1.25rem;
  font-weight: 600;
}

.full {
  height: 70vh;
}

.bad-gateway-row {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 55%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.card .view.gradient-card-header {
  padding: 1rem 1rem;
  text-align: center;
}

.card h3, .card.card-cascade h4 {
  margin-bottom: 0px;
}

.cascading-admin-card .admin-up {
  margin-left: 4%;
  margin-right: 4%;
  margin-top: -20px;
}

.cascading-admin-card .admin-up .fa {
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2), 0 2px 13px 0 rgba(0, 0, 0, 0.19);
}

.cascading-admin-card .admin-up .fa {
  padding: 1.7rem;
  font-size: 2rem;
  color: #fff;
  text-align: left;
  margin-right: 1rem;
  border-radius: 3px;
}

.cascading-admin-card .admin-up .data {
  float: right;
  margin-top: 2rem;
  text-align: right;
}
.admin-up .data p {
  color: #999999;
  font-size: 12px;
}
.classic-admin-card .card-body {
  color: #fff;
  margin-bottom: 0;
  padding: 0.9rem;
}
.classic-admin-card .card-body p {
  font-size: 13px;
  opacity: 0.7;
  margin-bottom: 0;
}
.classic-admin-card .card-body h4 {
  margin-top: 10px;
}

.form-inline{
  flex-flow: unset
}

.breadcrumb{
  margin: 0;
}

.activeClass .list-group-item {
  z-index: 5;
  color: #fff;
  border-color: #007bff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px !important;
  background-color: #007bff !important;
}

.page-footer{
  margin-left: 270px;
}



.color_green{
  background: linear-gradient(90deg, rgba(88, 173, 91, 1) 0%, rgb(48, 141, 49) 50%, rgba(95, 165, 105, 1) 100%);
}

.color_orange{
  background: linear-gradient(90deg, rgba(233, 138, 85, 1) 0%, rgb(214, 85, 16) 51%, rgba(233, 138, 85, 1) 100%);
}

.color_purple{
  background: linear-gradient(90deg, rgba(210, 114, 210, 1) 0%, rgb(156, 47, 156) 50%, rgba(210, 114, 210, 1) 100%);
}

.color_red{
  background: linear-gradient(90deg, rgb(226, 18, 18) 0%, rgb(157, 21, 21) 50%, rgba(226, 18, 18) 100%);
}

.green{
  color: #4fab52 !important;
}

.orange{
  color: #d59057 !important;
}

.purple{
  color: #d797d5 !important;
}

.color-profile{
  background-color: #6873C8;
}

.colorApp{
  background-color: radial-gradient(circle at 50% 50%, rgba(106, 15, 255, 1) 0%, rgba(207, 175, 255, 1) 13%, rgba(116, 31, 255, 1) 26%, rgba(207, 175, 255, 1) 50%, rgba(106, 15, 255, 1) 74%, rgba(207, 175, 255, 1) 89%, rgba(106, 15, 255, 1) 100%) !important;
}

.color_blue{
  background: linear-gradient(90deg, rgb(56, 18, 226) 0%, rgb(39, 26, 182) 50%, rgb(56, 18, 226)  100%);
}
.color_baby_blue{
  background: linear-gradient(90deg, #54b4d3 0%, rgb(26, 164, 182) 50%, #54b4d3  100%);
}




@media (max-width: 1199.98px) {
  .sidebar-fixed {
    display: none;
  }
  .flexible-content {
    padding-left: 0;
  }
  .flexible-navbar {
    padding-left: 10px;
  }

  #content{
    margin-left: 0px;
  }

  .page-footer{
    margin-left: 0px;
  }
  
  .card.cascading-admin-card {
    margin-top: 2.5rem;
  } 
}

@media (max-width: 576px) { 
  .card.cascading-admin-card {
    margin-top: 2.5rem;
  }

  #breadcrumb{
    flex-direction: column;
  }
}


